.titleHeader {
    font-size: 20px;

}
.valueHeader {
    font-size: 25px;
}
.additionalInfoHeader {
    font-size: 11px;
}
.groupHeaderAdditionalInfo {
    font-size: 11px;
}
.groupElement {
    font-size: 20px;
}
.groupElementValue {
    font-size: 15px;
}